<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update your cocktail</title>
</head>
<body>
  <div class="perso-hero">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
      <p>Update Your cocktail</p>
    </div>
  </div>

  <div class="container">
    <div>
      <h3>Update your cocktail</h3>
      <%= render 'cocktails/form' %>
    </div>
    <div>
    <%= link_to "Cocktail Updated", cocktail_path(@cocktail), method: :patch %>
    </div>
  </div>
</body>
</html>



